colors = {
  bodyBg: #0079bf
  headerBg: #026AA7
  logo: #5BA4CF
  headerHover: #8BBDD9
  logoHover: #BCD9EA
  font: #ffffff
  icon: #A5ACB0
  btnHeader: rgba(91, 164, 207, 0.7)
  btnHeaderHover: rgba(91, 164, 207, 1)
  bgModal: #EDEFF0
  bgDiscrete: #D6DADC
  bgDarkerDiscrete: #C4C9CC
  fontDiscrete: #959DA1
  mainFont: #4d4d4d
  modalBtnHover: #298FCA
  placeholder: #BCD9EA
  submitBtn: linear-gradient(to bottom,#61BD4F 0,#5AAC44 100%)
  submitBtnHover: linear-gradient(to bottom,#61BD4F 0,#5AAC44 0%)
}

heights = {
  header: 40px
  input: 16px
}

widths = {
  headerInput: 180px
  longInput: 270px
  list: 270px
}

paddings = {
  input: 7px
  icon: 3px
}

border = {
  radius: 3px
}

shadows = {
  submitBtn: 0 1px 0 #3F6F21
  input: inset 0 1px 8px rgba(0,0,0,.15)
}