$colors = {}

$colors['light-blue'] = #BCD9EA
$colors['light-blue-gradient-bottom'] = linear-gradient(to bottom,rgba(255,255,255,.3) 0,rgba(255,255,255,.2) 100%)
$colors['light-blue-gradient-top'] = linear-gradient(to top,rgba(255,255,255,.3) 0,rgba(255,255,255,.2) 100%)
$colors['blue'] = #0079BF
$colors['dark-blue'] = #026AA7
$colors['darker-blue'] = #055A8C

$colors['lighter-grey'] = #EDEFF0
$colors['light-grey'] = #D6DADC
$colors['grey'] = #C4C9CC
$colors['dark-grey'] = #A5ACB0
$colors['darker-grey'] = #8C8C8C
$colors['grey-gradient-top'] = linear-gradient(to top, $colors.light-grey 0, $colors.lighter-grey 100%)

$colors['light-black'] = #4D4D4D

$colors['white-gradient'] = linear-gradient(to bottom, #FFFFFF 0, #F8F9F9 100%)

$colors['green-gradient-bottom'] = linear-gradient(to bottom, #61BD4F 0, #5AAC44 100%)
$colors['green-gradient-top'] = linear-gradient(to top, #61BD4F 0, #5AAC44 100%)

$colors['red'] = #B04632
$colors['red-gradient-bottom'] = linear-gradient(to bottom, #CF513D 0, $colors.red 100%)

$heights = {
  header: 40px
  input: 16px
}

$widths = {
  short-input: 180px
  input: 270px
  list: 270px
  card-details: 724px
}

$radius = {
  main: 3px
}

$shadows = {
  bottom-green: 0 1px 0 #3F6F21
  bottom-light-black: 0 1px 0 $colors.light-black
  inside: inset 0 1px 8px rgba(0, 0, 0, 0.15)
  bottom: 0 1px 2px rgba(0, 0, 0, 0.2)
  all-sides-blue: 0 0 2px $colors.blue
  left: 0 0 6px rgba(0, 0, 0, 0.4)
}

submit-btn()
  padding: 0 20px
  min-height: 30px
  box-shadow: $shadows.bottom-green
  background: $colors.green-gradient-bottom
  color: white
  font-size: 14px
  font-weight: bold
  cursor: pointer
  &:hover
    background: $colors.green-gradient-top

form-controls()
  .form-controls
    display: block
    height: 35px
    overflow: hidden
    transition: height 0.25s
    input[type="submit"]
      submit-btn()
    .close
      display: inline-block
      float: none
      margin: 0 0 0 5px
      &:hover
        background: inherit
      i
        vertical-align: middle

label-select()
  dl
    position: relative
    margin: 0 0 15px 0
    top: 0
    left: 0
    bottom: 0
    right: 0
    padding: 5px
    border: 1px solid $colors.light-grey
    border-bottom: 1px solid $colors.grey
    border-radius: $radius.main
    background: $colors.white-gradient
    font-weight: bold
    cursor: pointer
    h5
      margin: 0 0 7px 0
      color: $colors.darker-grey
      font-size: 12px
    p
      color: $colors.light-black
      font-size: 18px
    &:hover
      border: 1px solid $colors.blue
      border-bottom: 1px solid $colors.dark-blue
      background: $colors.blue
      h5
        color: $colors.lighter-grey
      p
        color: white
  select
    position: absolute
    height: 100%
    top: 0
    left: 0
    width: 100%
    opacity: 0

modal-input()
  padding: 5px
  margin: 5px 0 0 0
  border: 1px solid $colors.grey
  box-shadow: $shadows.inside
  background: $colors.lighter-grey
  color: $colors.light-black
  font-size: 12px
  &:focus
    border: 1px solid $colors.blue
    box-shadow: $shadows.all-sides-blue
    background: white

activity-list()
  color: $colors.light-black
  font-size: 14px
  li
    padding: 10px 0
    + li
      border-top: 1px solid $colors.light-grey
  section
    display: inline-block
    vertical-align: top
    margin: 0
    p
      display: inline
      vertical-align: middle
      line-height: 1.25
    h3
      display: inline-block
      vertical-align: top
      color: $colors.light-black
      font-weight: bold
      span
        font-weight: normal
    .card-name
      color: $colors.light-black
      text-decoration: underline
      &:hover
        color: black
  footer
    display: inline-block
    margin: 0 0
    color: $colors.darker-grey
    font-size: 12px
  .comment
    display: block
    h3
      display: block
      text-align: left
    p
      display: inline-block
      padding: 10px
      margin: 5px 0 10px 0
      background: white
      border-radius: $radius.main
      box-shadow: $shadows.bottom
    + footer
      display: block
      a
        color: $colors.darker-grey
        text-decoration: underline
        cursor: pointer