input
  height: $heights.input
  padding: 7px
  outline: none
  border: none
  border-radius: 3px

a
  text-decoration: none

p
  word-wrap: break-word
  overflow: hidden
  white-space: normal

textarea
  border: none
  border-radius: $radius.main
  resize: none
  font: inherit
  color: inherit
  &:focus
    outline: none
  &.formated
    background: inherit

.modal
  display: none
  position: absolute
  border-radius: $radius.main
  box-sizing: border-box
  padding: 10px
  background: white
  border: 1px solid $colors.light-grey
  z-index: 3
  hr
    border: none
    border-bottom: 1px solid $colors.light-grey
    margin: 10px auto
  h3
    text-align: center
    font-weight: normal
    color: $colors.darker-grey
  + .overlay
    display: none
    position: fixed
    left: 0
    top: 0
    right: 0
    bottom: 0
    opacity: 0
    z-index: 2

.close
  margin: 0 10px 0 0
  float: right
  cursor: pointer
  color: $colors.darker-grey
  &:hover
    color: $colors.light-black


#lists
  float: left
  height: 100%
  white-space: nowrap

.list
  box-sizing: border-box
  display: inline-block
  position: relative
  width: $widths.list
  margin: 0 5px
  padding: 5px 8px
  border-radius: $radius.main
  background: $colors.light-grey
  color: $colors.light-black
  vertical-align: top
  header
    position: relative
  .overlay-header
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0
    cursor: pointer
  .title
    box-sizing: border-box
    width: 200px
    padding: 5px
    font-weight: bold
    transition: background 0.25s
    cursor: pointer
    &:focus
      background: white
  .list-icons
    float: right
    span
      display: inline-block
      color: $colors.darker-grey
    .more
      padding: 5px 5px 0 5px
      border-radius: $radius.main
      cursor: pointer
      &:hover
        color: inherit
        background: $colors.grey
    .subscribed
      display: none
  .list-icons.is-subscribed
    .subscribed
      display: inline-block
  .modal
    top: 40px
    left: $widths.list - 30
    width: 300px
    padding: 10px 0
    background: white
    color: $colors.light-black
    hr
      width: 300px - 30
    .actions
      font-weight: bold
      .action
        padding: 7px 10px
        &:hover
          background: $colors.blue
          color: white
.add-card
  a
    display: block
    box-sizing: border-box
    height: 30px
    padding: 5px 0 0 2px
    border-radius: $radius.main
    color: $colors.darker-grey
    cursor: pointer
    &:hover
      text-decoration: underline
      color: $colors.light-black
      background: $colors.grey
    + form
      display: none
  form
    display: block
    textarea
      box-sizing: border-box
      width: $widths.list - 16
      padding: 5px;
    form-controls()

.cards
    min-height: 10px
  .card
    box-sizing: border-box
    width: $widths.list - 16
    padding: 7px
    margin: 5px 0
    border-radius: $radius.main
    box-shadow: $shadows.bottom
    background: white
    cursor: pointer
    .edit
      display: none
      float: right
      margin: -4px 0 0 0
      padding: 5px 5px 2px 5px
      border-radius: $radius.main
      color: $colors.grey
      cursor: pointer
      &:hover
        color: $colors.light-black
        background: $colors.grey
    &:hover
      background: $colors.lighter-grey
      .edit
        display: block

#card-details
  .overlay
    position: fixed
    top: 0
    right: 0
    bottom: 0
    left: 0
    background: rgba(0, 0, 0, 0.6)
    z-index: 5
  .container
    position: absolute
    z-index: 6
    width: $widths.card-details
    top: 50px
    left: 50%
    margin: 0 0 0 (-1 * $widths.card-details / 2 - 15)
    padding: 20px 15px
    border-radius: $radius.main
    background: $colors.lighter-grey
    color: $colors.darker-grey
    > .close
      position: absolute
      float: none
      top: 5px
      right:0
    h1
      display: inline-block
      margin: 0 0 10px 0
      color: $colors.light-black
      font-size: 16px
    .details
      display: inline-block
      width: 560px
      vertical-align: top
      section
        margin: 0 0 0 35px
        + section
          margin-top: 30px
        header
          margin: 0 0 0 -35px
          i
            margin: 0 7px 0 0
        ul
          margin: 25px 0
        a
          color: inherit
          text-decoration: underline
        i
          vertical-align: middle
      .description
        h3
          margin: 0 0 10px 0
          font-weight: normal
        p
          color: $colors.light-black
      .add-comment
        textarea
          width: 95%
          height: 75px
          padding: 10px
          box-shadow: $shadows.bottom
          color: $colors.light-black
        input[type="submit"]
          submit-btn()
    aside
      display: inline-block
      width: 140px
      margin: 40px 0 0 20px
      section
        margin: 20px 0
      .action
        padding: 8px
        border: 1px solid $colors.light-grey
        border-bottom: 1px solid $colors.grey
        border-radius: $radius.main
        margin: 7px 0
        background: $colors.white-gradient
        color: $colors.light-black
        font-size: 14px
        font-weight: bold
        cursor: pointer
        &:hover
          background: $colors.blue
          border: 1px solid $colors.blue
          border-bottom: 1px solid $colors.dark-blue
          color: white

.sortable-card-placeholder
  padding: 7px
  border-radius: $radius.main
  background: $colors.dark-grey

.sortable-list-placeholder
  background: $colors.darker-blue
  display: inline-block
  border-radius: $radius.main

.tilted
  transform: rotate(5deg)

.material-icons.md-14
  font-size: 14px
.material-icons.md-16
  font-size: 16px
.material-icons.md-18
  font-size: 18px
.material-icons.md-24
  font-size: 24px
.material-icons.md-30
  font-size: 30px
.material-icons.md-36
  font-size: 36px
.material-icons.md-48
  font-size: 48px