input
  height: heights.input
  padding: paddings.input
  outline: none
  border: none
  border-radius: 3px

a
  text-decoration: none

textarea
  border: none
  border-radius: border.radius
  background: inherit
  font: inherit
  color: inherit
  resize: none
  &:focus
    outline: none

.modal
  display: none
  position: absolute
  border-radius: border.radius
  box-sizing: border-box
  padding: 10px
  background: white
  border: 1px solid colors.bgDiscrete
  z-index: 3
  hr
    border: none
    border-bottom: 1px solid colors.bgDiscrete
    margin: 10px auto
  h3
    text-align: center
    font-weight: normal
    color: colors.fontDiscrete
  + .overlay
    display: none
    position: fixed
    left: 0
    top: 0
    right: 0
    bottom: 0
    opacity: 0
    z-index: 2

.close
  margin: 0 10px 0 0
  float: right
  cursor: pointer
  color: colors.fontDiscrete
  &:hover
    color: colors.mainFont


#lists
  display: inline-block
  height: 100%

.list-container
  display: inline-block
  height: 100%
  .list
    box-sizing: border-box
    display: inline-block
    position: relative
    width: widths.list
    margin: 0 5px
    padding: 5px 8px
    border-radius: border.radius
    background: colors.bgDiscrete
    color: colors.mainFont
    vertical-align: top
    .title
      box-sizing: border-box
      width: 200px
      padding: 5px
      font-weight: bold
      transition: background 0.25s
      cursor: pointer
      &:focus
        background: white
    .list-icons
      float: right
      span
        display: inline-block
        color: colors.fontDiscrete
      .more
        padding: 5px 5px 0 5px
        border-radius: border.radius
        cursor: pointer
        &:hover
          color: inherit
          background: colors.bgDarkerDiscrete
      .subscribed
        display: none
    .list-icons.is-subscribed
      .subscribed
        display: inline-block
    .modal
      top: 40px
      left: widths.list - 30
      width: 300px
      padding: 10px 0
      background: white
      color: colors.mainFont
      hr
        width: 300px - 30
      .actions
        font-weight: bold
        .action
          padding: 7px 10px
          &:hover
            background: colors.modalBtnHover
            color: white

// .cards
//   .card

.material-icons.md-16 { font-size: 16px; }
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-30 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }