input
  height: $heights.input
  padding: 7px
  outline: none
  border: none
  border-radius: 3px

a
  text-decoration: none

p
  word-wrap: break-word
  overflow: hidden
  white-space: normal

textarea
  border: none
  border-radius: $radius.main
  resize: none
  font: inherit
  color: inherit
  &.title
    box-sizing: border-box
    padding: 5px
    font-weight: bold
    transition: background 0.25s
    color: $colors.light-black
    cursor: pointer
    &:focus
      background: white
      outline: none
  &.formated
    background: inherit

.tilted
  transform: rotate(5deg)

.material-icons.md-14
  font-size: 14px
.material-icons.md-16
  font-size: 16px
.material-icons.md-18
  font-size: 18px
.material-icons.md-24
  font-size: 24px
.material-icons.md-30
  font-size: 30px
.material-icons.md-36
  font-size: 36px
.material-icons.md-48
  font-size: 48px