mixin js_scripts(file_name, ...additional_files)
  script(src="/javascripts/" + file_name + ".js")
  each file in additional_files
    - var path = file_name.match(/(.+\/)?.+$/).pop();
    - path = path ? path : '';
    script(src="/javascripts/" + path + file + ".js")