@import "whitespace-reset.css";
@import "https://fonts.googleapis.com/css?family=Lobster";
input {
  height: 16px;
  padding: 7px;
  outline: none;
  border: none;
  border-radius: 3px;
}
a {
  text-decoration: none;
}
textarea {
  border: none;
  border-radius: 3px;
  resize: none;
  font: inherit;
  color: inherit;
}
textarea:focus {
  outline: none;
}
textarea.formated {
  background: inherit;
}
.modal {
  display: none;
  position: absolute;
  border-radius: 3px;
  box-sizing: border-box;
  padding: 10px;
  background: #fff;
  border: 1px solid #d6dadc;
  z-index: 3;
}
.modal hr {
  border: none;
  border-bottom: 1px solid #d6dadc;
  margin: 10px auto;
}
.modal h3 {
  text-align: center;
  font-weight: normal;
  color: #8c8c8c;
}
.modal + .overlay {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  z-index: 2;
}
.close {
  margin: 0 10px 0 0;
  float: right;
  cursor: pointer;
  color: #8c8c8c;
}
.close:hover {
  color: #4d4d4d;
}
#lists {
  display: inline-block;
  height: 100%;
}
.list-container {
  display: inline-block;
  height: 100%;
}
.list-container .list {
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  width: 270px;
  margin: 0 5px;
  padding: 5px 8px;
  border-radius: 3px;
  background: #d6dadc;
  color: #4d4d4d;
  vertical-align: top;
}
.list-container .list .title {
  box-sizing: border-box;
  width: 200px;
  padding: 5px;
  font-weight: bold;
  transition: background 0.25s;
  cursor: pointer;
}
.list-container .list .title:focus {
  background: #fff;
}
.list-container .list .list-icons {
  float: right;
}
.list-container .list .list-icons span {
  display: inline-block;
  color: #8c8c8c;
}
.list-container .list .list-icons .more {
  padding: 5px 5px 0 5px;
  border-radius: 3px;
  cursor: pointer;
}
.list-container .list .list-icons .more:hover {
  color: inherit;
  background: #c4c9cc;
}
.list-container .list .list-icons .subscribed {
  display: none;
}
.list-container .list .list-icons.is-subscribed .subscribed {
  display: inline-block;
}
.list-container .list .modal {
  top: 40px;
  left: 240px;
  width: 300px;
  padding: 10px 0;
  background: #fff;
  color: #4d4d4d;
}
.list-container .list .modal hr {
  width: 270px;
}
.list-container .list .modal .actions {
  font-weight: bold;
}
.list-container .list .modal .actions .action {
  padding: 7px 10px;
}
.list-container .list .modal .actions .action:hover {
  background: #0079bf;
  color: #fff;
}
.list-container .add-card a {
  display: block;
  box-sizing: border-box;
  height: 30px;
  padding: 5px 0 0 2px;
  border-radius: 3px;
  color: #8c8c8c;
  cursor: pointer;
}
.list-container .add-card a:hover {
  text-decoration: underline;
  color: #4d4d4d;
  background: #c4c9cc;
}
.list-container .add-card a + form {
  display: none;
}
.list-container .add-card form {
  display: block;
}
.list-container .add-card form textarea {
  box-sizing: border-box;
  width: 254px;
  padding: 5px;
}
.list-container .add-card form .form-controls {
  display: block;
  height: 35px;
  overflow: hidden;
  transition: height 0.25s;
}
.list-container .add-card form .form-controls input[type="submit"] {
  padding: 0 20px;
  min-height: 30px;
  box-shadow: 0 1px 0 #3f6f21;
  background: linear-gradient(to bottom, #61bd4f 0, #5aac44 100%);
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}
.list-container .add-card form .form-controls input[type="submit"]:hover {
  background: linear-gradient(to top, #61bd4f 0, #5aac44 100%);
}
.list-container .add-card form .form-controls .close {
  display: inline-block;
  float: none;
  margin: 0 0 0 5px;
}
.list-container .add-card form .form-controls .close:hover {
  background: inherit;
}
.list-container .add-card form .form-controls .close i {
  vertical-align: middle;
}
.card {
  box-sizing: border-box;
  width: 254px;
  padding: 7px;
  margin: 5px 0;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  background: #fff;
}
.card .edit {
  display: none;
  float: right;
  margin: -4px 0 0 0;
  padding: 5px 5px 2px 5px;
  border-radius: 3px;
  color: #c4c9cc;
  cursor: pointer;
}
.card .edit:hover {
  color: #4d4d4d;
  background: #c4c9cc;
}
.card:hover {
  background: #edeff0;
}
.card:hover .edit {
  display: block;
}
#card-details .overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.6);
  z-index: 5;
}
#card-details .container {
  position: absolute;
  z-index: 6;
  width: 724px;
  top: 50px;
  left: 50%;
  margin: 0 0 0 -377px;
  padding: 20px 15px;
  border-radius: 3px;
  background: #edeff0;
  color: #8c8c8c;
}
#card-details .container > .close {
  position: absolute;
  float: none;
  top: 5px;
  right: 0;
}
#card-details .container h1 {
  display: inline-block;
  margin: 0 0 10px 0;
  color: #4d4d4d;
  font-size: 16px;
}
#card-details .container .details {
  display: inline-block;
  width: 560px;
  vertical-align: top;
}
#card-details .container .details section {
  margin: 0 0 0 35px;
}
#card-details .container .details section + section {
  margin-top: 30px;
}
#card-details .container .details section header {
  margin: 0 0 0 -35px;
}
#card-details .container .details section header i {
  margin: 0 7px 0 0;
}
#card-details .container .details section ul {
  margin: 25px 0;
}
#card-details .container .details section a {
  color: inherit;
  text-decoration: underline;
}
#card-details .container .details section i {
  vertical-align: middle;
}
#card-details .container .details .description h3 {
  margin: 0 0 10px 0;
  font-weight: normal;
}
#card-details .container .details .description p {
  color: #4d4d4d;
}
#card-details .container .details .add-comment textarea {
  width: 95%;
  height: 75px;
  padding: 10px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  color: #4d4d4d;
}
#card-details .container .details .add-comment input[type="submit"] {
  padding: 0 20px;
  min-height: 30px;
  box-shadow: 0 1px 0 #3f6f21;
  background: linear-gradient(to bottom, #61bd4f 0, #5aac44 100%);
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}
#card-details .container .details .add-comment input[type="submit"]:hover {
  background: linear-gradient(to top, #61bd4f 0, #5aac44 100%);
}
#card-details .container aside {
  display: inline-block;
  width: 140px;
  margin: 40px 0 0 20px;
}
#card-details .container aside section {
  margin: 20px 0;
}
#card-details .container aside .action {
  padding: 8px;
  border: 1px solid #d6dadc;
  border-bottom: 1px solid #c4c9cc;
  border-radius: 3px;
  margin: 7px 0;
  background: linear-gradient(to bottom, #fff 0, #f8f9f9 100%);
  color: #4d4d4d;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}
#card-details .container aside .action:hover {
  background: #0079bf;
  border: 1px solid #0079bf;
  border-bottom: 1px solid;
  color: #fff;
}
.material-icons.md-14 {
  font-size: 14px;
}
.material-icons.md-16 {
  font-size: 16px;
}
.material-icons.md-18 {
  font-size: 18px;
}
.material-icons.md-24 {
  font-size: 24px;
}
.material-icons.md-30 {
  font-size: 30px;
}
.material-icons.md-36 {
  font-size: 36px;
}
.material-icons.md-48 {
  font-size: 48px;
}
body {
  font: normal 14px "Helvetica Neue", Arial, Helvetica, sans-serif;
  background: #0079bf;
  min-width: 500px;
}
body > header {
  box-sizing: border-box;
  position: fixed;
  height: 70px;
  min-width: 720px;
  top: 0;
  left: 0;
  right: 0;
  height: 40px;
  padding: 5px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  background: #026aa7;
  text-align: center;
  z-index: 1;
}
body > header form {
  position: absolute;
  left: 0;
  padding: 0 0 0 5px;
}
body > header form input {
  width: 180px;
  background: #bcd9ea;
  transition: width 0.25s;
  opacity: 0.35;
}
body > header form input + span {
  transform: rotate(90deg);
  color: #fff;
}
body > header form input + span + span {
  opacity: 0;
}
body > header form input:hover {
  opacity: 0.6;
}
body > header form input:focus {
  width: 270px;
  background: #fff;
  opacity: 1;
}
body > header form input:focus + span {
  left: 255px;
}
body > header form input:focus + span + span {
  display: inline-block;
  position: absolute;
  left: 255px;
  opacity: 1;
  color: #a5acb0;
  cursor: pointer;
  z-index: 2;
}
body > header form span {
  position: absolute;
  left: 165px;
  padding: 3px;
  font-size: 16px;
  transition: left 0.25s;
}
body > header h1 {
  display: inline-block;
  font: bold 25px Lobster, Serif;
  opacity: 0.7;
  color: #bcd9ea;
}
body > header h1:hover {
  opacity: 1;
  cursor: pointer;
}
body > header section {
  text-align: right;
}
body > header section .menu {
  display: inline-block;
  margin: 10px 0 0 0;
  padding: 5px 10px;
  border-radius: 3px;
  font-size: 12px;
  cursor: pointer;
  text-align: right;
  color: #fff;
  background: #0079bf;
}
body > header section .menu:hover {
  background: #026aa7;
}
body > header section .menu i {
  margin: 0 10px 0 0;
  vertical-align: middle;
}
#notif {
  position: absolute;
  top: 7px;
  right: 10px;
}
#notif > label {
  box-sizing: border-box;
  padding: 2px 4px 6px 4px;
  height: 40px;
  border-radius: 3px;
  font-size: 18px;
  background: linear-gradient(to bottom, rgba(255,255,255,0.3) 0, rgba(255,255,255,0.2) 100%);
  color: #fff;
  cursor: pointer;
}
#notif > label:hover {
  background: linear-gradient(to top, rgba(255,255,255,0.3) 0, rgba(255,255,255,0.2) 100%);
}
#notif > label i {
  vertical-align: middle;
}
#notif input {
  display: none;
}
#notif input:checked + .modal {
  display: inline-block;
}
#notif .modal {
  width: 450px;
  top: 35px;
  right: 5px;
  background: #edeff0;
  color: #8c8c8c;
}
#notif .modal hr {
  width: 420px;
}
#notif .modal section {
  margin: 5px 0 0 0;
  padding: 30px 0;
  border: 1px dashed #8c8c8c;
  border-radius: 3px;
  background: #d6dadc;
}
main {
  box-sizing: border-box;
  margin: 70px 0 0 0;
  padding: 10px;
}
main .container {
  overflow-x: scroll;
  white-space: nowrap;
}
main .container .add-list {
  display: inline-block;
  width: 270px;
  margin: 0 10px 0 5px;
  padding: 5px;
  border-radius: 3px;
  background: #026aa7;
  vertical-align: top;
  transition: background 0.25s;
}
main .container .add-list form label {
  display: block;
  box-sizing: border-box;
  width: 270px;
  border-radius: 3px;
  cursor: pointer;
}
main .container .add-list form label input {
  background: inherit;
  transition: background 0.25s;
  font-size: 14px;
  color: #4d4d4d;
  cursor: pointer;
}
main .container .add-list form label input::-webkit-input-placeholder {
  color: #bcd9ea;
  font-size: 14px;
  transition: color 0.25s;
}
main .container .add-list form .form-controls {
  display: block;
  height: 35px;
  overflow: hidden;
  transition: height 0.25s;
}
main .container .add-list form .form-controls input[type="submit"] {
  padding: 0 20px;
  min-height: 30px;
  box-shadow: 0 1px 0 #3f6f21;
  background: linear-gradient(to bottom, #61bd4f 0, #5aac44 100%);
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}
main .container .add-list form .form-controls input[type="submit"]:hover {
  background: linear-gradient(to top, #61bd4f 0, #5aac44 100%);
}
main .container .add-list form .form-controls .close {
  display: inline-block;
  float: none;
  margin: 0 0 0 5px;
}
main .container .add-list form .form-controls .close:hover {
  background: inherit;
}
main .container .add-list form .form-controls .close i {
  vertical-align: middle;
}
main .container .add-list form .form-controls {
  height: 0;
}
main .container .add-list.show {
  background: #d6dadc;
  color: #4d4d4d;
}
main .container .add-list.show label {
  display: block;
  border: 1px solid #8c8c8c;
  box-shadow: inset 0 1px 8px rgba(0,0,0,0.15);
}
main .container .add-list.show label input::-webkit-input-placeholder {
  color: #8c8c8c;
}
main .container .add-list.show label + div {
  height: 35px;
  margin: 5px 0 0 0;
}
main .container .add-list.show label + div .material-icons {
  font-size: 24px;
}
