{{#each cards}}
  <li class="card" data-id="{{id}}" data-position="{{position}}">
    <span class="edit"><i class="material-icons md-14">edit</i></span>
    <ul class="labels">
      <li class="label"></li>
    </ul>
    <p>{{name}}</p>
    <ul class="icons">
      <li class="comment-icon"></li>
      <li class="subscribe-icon"></li>
    </ul>
  </li>
{{/each}}