<form>
  <textarea class="comment-content">{{content}}</textarea>
  <div class="form-controls">
    <input type="submit" value="Save">
    <a class="close" href="#"><i class="material-icons md-30">close</i></a>
  </div>
</form>