<h3>
  <span class="prev"><i class="material-icons md-16">arrow_back</i></span>
  Copy List
  <span class="close"><i class="material-icons md-16">close</i></span>
</h3>
<hr/>
<form>
  <dl>
    <dt>
      <label>
        <h2>Name</h2>
      </label>
    </dt>
    <dd>
      <textarea>
        {{name}}
      </textarea>
    </dd>
  </dl>
  <input type="submit" value="Create List">
</form>