<h3>
  Change Due Date
  <span class="close"><i class="material-icons md-16">close</i></span>
</h3>
<hr/>
<form>
  <fieldset>
    <label>
      <h2>Date</h2>
      <input type="text" name="date">
    </label><!--
    --><label>
      <h2>Time</h2>
      <input type="time" name="time" value="12:00">
    </label>
  </fieldset>
  <div class="datepicker"></div>
  <div class="form-controls">
    <input type="submit" value="Save">
    <input class="remove" type="submit" value="Remove">
  </div>
</form>
<div class="overlay"></div>