<h3>List Actions
  <span class="close"><i class="material-icons md-16">close</i></span>
</h3>
<hr/>
<ul class="actions">
  <li class="action copy-list">Copy List...</li>
  <li class="action move-list">Move List...</li>
</ul>
<hr/>
<ul class="actions">
  <li class="action move-cards">Move All cards in This List...</li>
  <li class="action archive-cards">Archive All Cards in This List...</li>
</ul>
<hr/>
<ul class="actions">
  <li class="action archive-list">Archive This List</li>
</ul>